<html>
  <head>
    <title>home.ticklethepanda.co.uk</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      #world {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <canvas id="world"></canvas>

    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
      <script>
      (function () {
        var PUSHER_KEY = <!FILL IN KEY HERE!>;
        var Point = function(x,y) {
          this.x = x;
          this.y = y;
          Object.defineProperty(
            this,
            "length",
            {
              get:function() {return Math.sqrt(this.x * this.x + this.y * this.y);}
            }
          );

          this.normalise = function normalise() {
            if(this.length != 0) {
              return new Point(
                this.x / this.length,
                this.y / this.length
              );
            } else {
              return new Point(0,0);
            }
          }

          this.scale = function scale(scale) {
            return new Point(
              this.x * scale,
              this.y * scale
            )
          }

          this.add = function add(point) {
            return new Point(
              this.x + point.x,
              this.y + point.y
            )
          }

          this.sub = function sub(point) {
            return new Point(
              this.x - point.x,
              this.y - point.y
            )
          }
        }

        var food = {
          loc: new Point(0.5, 0.5)
        };

        var bot = {
          ACC_SPEED: 0.0005,
          loc: new Point(0.5, 0.5),
          vel: new Point(0, 0)
        };

        var HISTORY_LENGTH = 500;
        var history = [];

        function step() {
          move();
          draw();
        }

        function move() {
          var direction = bot.loc.sub(food.loc);
          var accel = direction.normalise().scale(bot.ACC_SPEED);

          bot.vel = bot.vel.add(accel);
          bot.vel = bot.vel.scale(0.99);
          bot.loc = bot.loc.sub(bot.vel);

          history.push(bot.loc);
          history = history.slice(Math.max(history.length - HISTORY_LENGTH, 0));
        };

        function resizeCanvas() {
          canvas.width = window.innerWidth;
          canvas.height = window.innerHeight;
          draw();
        }

        function draw() {
          clear();
          drawBot();
          drawHistory();
        }

        function clear() {
          context.clearRect(0, 0, canvas.width, canvas.height);
        }

        function drawHistory() {
          for (var i = 1; i < history.length; i++) {
            var prevPoint = history[i - 1];
            var curPoint = history[i];

            context.beginPath();

            var brightness = Math.round(255 - 255 * (i / history.length)).toString(16);
            if(brightness.length == 1) {
              brightness = "0" + brightness;
            }
            context.moveTo(
              prevPoint.x * canvas.width,
              prevPoint.y * canvas.height);
            context.lineTo(
              curPoint.x * canvas.width,
              curPoint.y * canvas.height);

            context.strokeStyle = '#' + brightness + brightness + brightness;

            context.stroke();
          }
        };

        function drawBot() {
          var radius = 3;
          context.beginPath();
          context.arc(
            bot.loc.x * canvas.width,
            bot.loc.y * canvas.height,
            radius,
            0,
            2 * Math.PI,
            false);

          context.fillStyle = '#000000';
          context.fill();
          context.closePath();
        };


        var pusher = new Pusher(PUSHER_KEY, {
          cluster: 'eu',
          encrypted: true
        });
        var channel = pusher.subscribe('pi-life');

        var canvas = document.getElementById("world");
        var context = canvas.getContext("2d");

        channel.bind('food', function(data) {
          food.loc = new Point(data.x, data.y);
        });

        window.addEventListener('resize', resizeCanvas, false);
        window.setInterval(step, 41);

        resizeCanvas();
      })();

    </script>
  </body>
</html>


